/*-------- VARIABLES --------*/
:root {
    /* COLORS */
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

/*-------- FONTS --------*/
@font-face {
    font-family: 'work sans';
    src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf)
}

/*-------- RESET --------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--light-pink);
    font-family: 'work sans', sans-serif;
}
img,
picture {
    max-width: 100%;
    display: block;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    padding: 0 1.5rem;
    display: grid;
    height: 100vh;
    align-items: center;
}
main {
    padding: 1.5rem;
    background: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
}

.header {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .header__img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .header__heading {
        color: var(--dark-purple);
        font-size: 2rem;
        font-weight: 700;
    }
}

.faq {
    margin-top: 1.5rem;
    padding-bottom: 0;
    border-bottom: 0.0625rem solid var(--light-pink);

    /* by setting display to grid and grid-template-rows to .3fr and 0fr, 
    the second item in the grid which is the answer will be hidden*/
    display: grid;
    grid-template-rows: .3fr 0fr;
    transition: grid-template-rows .3s ease-in-out;
    
}
/* .faq:last-child {
    border-bottom: none;
} */


.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .question__heading {
        color: var(--dark-purple);
        font-size: 1rem;
        font-weight: 600;
    }
}

.answer {
    margin-top: 1.5rem;
    overflow: hidden;

    .answer__text {
        color: var(--grayish-purple);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 150%;
    }
}

/* by setting grid-template-rows to .3fr 1fr, the second item in the grid
 which is the answer will appear */
.faq[aria-expanded="true"]{
    grid-template-rows: .3fr 1fr;
    padding-bottom: 1.25rem;
}
